OUTPUT_PREFIX=all
ONLY_NEW=false
ENVIRONMENT=local
COLOR = ""
ACTIVITY_TYPE=all

#local environment example
GPX_DIRECTORY = ../gpx_data
OUTPUT_ROOT=../tiles
NEW_GPX_PATH=../newgpx.txt.example

#local_db environment example
GPX_DIRECTORY = ../gpx_data
OUTPUT_ROOT=../tiles
GPX_DATABASE=../activites.db