# necessary Environment variables
GPX_DIRECTORY=Path/to/the/GPX/Files/ # needs to have a trailing /

# optional variables
COLOR=red           #colorscheme (red, blue, red-blue, blue-red) leave empty to use default(red), if not provided, the program prompts you to select a color
OUTPUT=tiles        #output directory
RECURSIVE=true      #whether to recursively search the input directory
IGNORE_DIR=true     #a directory to ignore